{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container card" style="width: 40rem;">
<img src="{{ object.image.url }}" alt="post_image" style="width:20rem; height: 15rem; align-self:center;">
<div class="card-body">
<h2>{{object.title}}</h2>
<hr>
<div>
<span><i class="far fa-comment-alt ml-2"></i></i> {{ object.comment_count }}</span>
<span><i class="fas fa-eye ml-2"></i> {{ object.view_count }}</span>
<span><i class="far fa-heart ml-2"></i> {{ object.like_count }}</span>
<span class="float-right"> <small>Posted {{ object.publish_date|timesince }} ago.</small></span>
</div>  
<hr>
<p class="card-text">{{ object.content }}.</p>
<hr>
<div>
<h4>Enjoy this post? Give it a LIKE!!</h4>
</div>
<div>
    <form action="{% url 'blog:like' object.slug %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="post">
    <input type="hidden" name="user">


    <button type="submit"><i class="far fa-heart fa-lg"></i></button>
    {{object.like_count }}
</form>
<hr>
<h4>Leave a comment below</h4>
<form action="" method="Post">
    {% csrf_token %}
    {{form|crispy }}
    <button class="btn btn-secondary btn-sm mt-1 mb-1" type="submit">Submit</button>
</form>
<hr>
<h4>Comments</h4>
{% for comment in object.comments %}
<div> 
{% comment %} object dedigimiz, user in yorum yazmak icin tikladigi Post ve o post un icinde yapilan yoruma (Post modelde yazdigmiz def comments yardimiyla Comment modeline ulastigim icin) object.comments diyerek ulasiyorum.Birden fazla yorum yapilacagi icin for kullandim ve yapilan yorum o Comment modeli icindeki content oldugu icin comment.content dedim.  {% endcomment %}
<p>
    <small><b>Comment by {{user}}</b></small> - 
    <small>{{ comment.time_stamp|timesince }} ago.</small>
</p>
<p>{{comment.content}}</p>
</div>
<hr>
{% endfor %}
</div>
</div>
<div class="m-3">
{% if user == object.author %}
<button class="btn btn-info">Edit<a href="{% url 'blog:update' object.slug %}"></a></button>
<button class="btn btn-danger">Delete<a href="{% url 'blog:delete' object.slug %}"></a></button>
    
{% endif %}
    
</div>



{% endblock content %}
    